backend/node_modules
backend/.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
tedxoxford/node_modules
tedxoxford/.pnp
tedxoxford/.pnp.js

# testing
tedxoxford/coverage

# production
tedxoxford/build
tedxoxford/build.zip
tedxoxford/build (2).zip

# misc
tedxoxford/.DS_Store
tedxoxford/.env.local
tedxoxford/.env.development.local
tedxoxford/.env.test.local
tedxoxford/.env.production.local
tedxoxford/.env

tedxoxford/npm-debug.log*
tedxoxford/yarn-debug.log*
tedxoxford/yarn-error.log*

tedxoxford/amplify
tedxoxford/amplify-backup

tedxoxford/.gitignoreold

generator.py

Google.png
scanning.py
TEDxOxford-Conference-2022-attendees.csv
TEDxOxford-Conference-2022-attendees.xlsx
